@use "../abstracts/" as *;

.button {
  font-weight: $fw-regular;
  font-size: $fs-100;
  line-height: $lh-165;
  font-family: $ff-lexend;
  background: $white;
  border-radius: $radius-pill;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  inline-size: 9.1875rem;
  block-size: 3rem;

  transition:
    transform $transition,
    background-color $transition,
    color $transition;
}

.button:hover,
.button:focus-visible {
  transform: translateY(-3px);
  background: transparent;
  border: 2px solid $white;
  color: $white;
}
