@use "../abstracts" as *;

body {
  font-family: $ff-base;
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.page-shell {
  min-block-size: 100vh;
  inline-size: 100%;
  padding-inline: $spacing-300;
  padding-block: $spacing-1000;

  transition: padding-block $transition;
}

:focus-visible {
  outline: 4px solid $black-50;
  outline-offset: 2px;
}

@media (min-width: $bp-md) {
  .page-shell {
    padding-inline: $spacing-1000;
  }
}

@media (min-width: $bp-lg) {
  .page-shell {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .vehicles-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-inline-size: 57.5625rem;
  }
}
