@use "../abstracts/variables" as *;

.bg-gold {
  background-color: $gold-500;
}

.text-gold {
  color: $gold-500;
}

.bg-cyan-800 {
  background-color: $cyan-800;
}

.text-cyan-800 {
  color: $cyan-800;
}

.bg-green-950 {
  background-color: $green-950;
}

.text-green-950 {
  color: $green-950;
}
